#hero-section {
  background-color: var(--primary-background-color);
}

.hero-main-section {
  padding-left: var(--default-margin-left);
  padding-right: var(--default-margin-right);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding-top: 66.82px;
  padding-bottom: 66.82px;
  gap: 72.39px;
}

.cta {
  font-family: var(--primary-font, sans-serif);
  width: 100%;

  opacity: 0;
  transform: translateX(-50px);
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.cta h1 {
  font-size: clamp(1.125rem, 0.7622rem + 2.0732vw, 3.25rem);
  line-height: clamp(1.375rem, 0.9695rem + 2.3171vw, 3.75rem);
  color: var(--primary-font-color);
}

.cta h1 span {
  color: var(--primary-brand-color);
}

.cta p {
  font-size: clamp(0.625rem, 0.561rem + 0.3659vw, 1rem);
  line-height: 16.7px;
  font-weight: 400;
  color: #717171;

  margin-top: 22px;
}

.cta button {
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 2.78px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: clamp(0.625rem, 0.561rem + 0.3659vw, 1rem);

  padding-left: 22.27px;
  padding-right: 22.27px;
  padding-top: 9.74px;
  padding-bottom: 9.75px;

  margin-top: 25px;
  cursor: pointer;
}

.hero-main-section img {
  width: 80%;

  opacity: 0;
  transform: translateX(50px);
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 831px) {
  .hero-main-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-main-section img {
    width: 40%;
  }

}

@media only screen and (max-width: 524px) {
  .hero-main-section img {
    display: none;
  }

}
