#clients-section {
  margin-top: 27.84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11.14px;
}

.clients-text-div {
  text-align: center;
  font-family: var(--primary-font, sans-serif);
}

.clients-text-div h2 {
  color: var(--primary-font-color);
  font-size: clamp(1.375rem, 1.2683rem + 0.6098vw, 2rem);
  line-height: 30.6px;
}

.clients-text-div p {
  margin-top: 5.57px;
  color: #717171;
  font-size: clamp(0.625rem, 0.561rem + 0.3659vw, 1rem);
  line-height: 16.7px;
}

.logo-slider {
  overflow: hidden;
  width: 100%;
}

.clients-logos-div {
  padding-top: 17.4px;
  padding-bottom: 17.4px;
  padding-left: var(--default-margin-left);
  padding-right: var(--default-margin-right);

  display: flex;
  gap: clamp(1.25rem, 0.1829rem + 6.0976vw, 7.5rem);


  width: max-content;

  animation-name: scroll;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.clients-logos-div img {
  transition: transform 0.3s ease;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 831px) {
  .clients-logos-div {
    padding-left: 40px;
    padding-right: 40px;
  }

}

@media only screen and (max-width: 320px) {
  .clients-logos-div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
