#stats-section {
  font-family: var(--primary-font, sans-serif);
  background-color: var(--primary-background-color);
}

.stats-section-wrapper {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 59.19px;
  padding-top: 59.19px;
  padding-bottom: 59.19px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-text-div {
  width: 50%;
}

.stats-text-div h2 {
  font-size: clamp(1.125rem, 0.8049rem + 1.8293vw, 3rem);
}

.stats-text-div h2 span {
  color: var(--primary-brand-color);
}

.stats-text-div p {
  color: #18191F;
  font-size: clamp(0.625rem, 0.561rem + 0.3659vw, 1rem);
  
  margin-top: 5.57px;
}

.stats-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: clamp(1.875rem, 1.6616rem + 1.2195vw, 3.125rem);
  row-gap: 40px;

  width: 40%;
}

.stats-div {
  display: flex;
  gap: 11.14px;
}

.stats-div img {
  width: clamp(2.1875rem, 2.0274rem + 0.9146vw, 3.125rem);
}

.stats-div div span {
  font-weight: bold;
  font-size: clamp(1rem, 0.8293rem + 0.9756vw, 2rem);
  color: var(--primary-font-color);
}

.stats-div div p {
  font-size: var(--primary-font-size);
  line-height: 16.7px;
  color: #717171;
}

@media only screen and (max-width: 1128px) {
  .stats-wrapper {
    column-gap: 40px;
    row-gap: 20px;
  }

  .stats-div div p {
    font-size: 11.14px;
  }
}

@media only screen and (max-width: 990px) {
  .stats-section-wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .stats-text-div {
    text-align: center;
  }

  .stats-text-div,
  .stats-wrapper {
    width: 100%;
  }

  .stats-wrapper {
    justify-items: center;
  }

  .stats-wrapper .stats-div:first-child {
    margin-left: 18px;
  }

  .stats-wrapper .stats-div:nth-child(2) {
    margin-right: 36px;
  }
}

@media only screen and (max-width: 537px) {
  .stats-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
    row-gap: 30px;
  }

  .stats-wrapper .stats-div:nth-child(2) {
    margin-left: 22px;
  }

  .stats-wrapper .stats-div:last-child {
    margin-left: 18px;
  }
}
