:root {
  --default-margin-left: 100px;
  --default-margin-right: 100px;

  --primary-brand-color: #4caf4f;
  --secondary-brand-color: #263238;

  --primary-background-color: #F5F7FA;

  --primary-font: Inter;
  --primary-font-size: 14px;
  --primary-font-color: #4d4d4d;
}