:root {
  --default-margin-left: 100px;
  --default-margin-right: 100px;

  --primary-brand-color: #4caf4f;

  --primary-background-color: #F5F7FA;

  --secondary-font: Inter;
  --secondary-font-size: 11.14px;
  --secondary-font-color: #4d4d4d;
}